@page{
    size: 21.59cm 27.94cm;
    margin: 1.9cm, 1.9cm, 1.9cm, 1.9cm
}
@media print {
    body{
        width: 21.59cm;
        height: 27.94cm;
        margin: 19mm 19mm 19mm 19mm; 
   } 
}

body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    width: 21.59cm;

}

h1{
    font-weight: 400;
    font-size: 18pt;
    margin-bottom: 0;
}

h2{
    font-weight: 400;
    font-size: 14pt;
    color: #6B7280;
    margin: 0 auto;
}

h3{
    font-weight: 400;
    font-size: 14pt;
    color: #10B981;
}

h4{
    font-weight: 500;
    font-size: 12pt;
    padding-bottom: 0;
    display: inline;
}
h5{
    font-weight: 400;
    font-size: 10pt;
    color: #374151;
    margin: 5px 0 5px 0;
}
h6{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    font-weight: 300;
    font-size: 9pt;
}

p{
    font-weight: 300;
    font-size: 10pt;
}

ul{
    list-style: none;
    padding: 0;
}
#sec-header{
    display: inline-flex;
    align-items: center;
    width: 21.59cm;
    margin: 0;
    padding: 0;
}

.profile-pic{
    margin: 2%;
}
.profile-pic img{
    border-radius: 100%;
    height: 120px;
    width: 120px;
    object-fit: cover;
    
}

.skill-tag{
    background: #10B981;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    position: relative;
    text-decoration: none;
}


.skill-tag li {
    float: left;
}

#sec-contact{
    background-color: #F3F4F6;
    height: 50px;
    display: flex;
    align-items: center;
    margin: auto;
}

#sec-contact{
    margin: auto;
    padding: 0;
}
#sec-contact ul li{
    list-style: none;
    display: inline-flex;
    align-items: center;
    margin: 10pt;
    font-weight: 300;
    font-size: 9pt
}
#sec-contact ul i{
    font-size: 14pt;
    justify-content: center;
    padding-inline: 2pt;
}

#sec-skills ul li{
    padding-inline: 8px;
    margin: 5px;
}

.periodo{
    font-size: 9pt;
    font-style: italic;
    color: #9CA3AF;
    text-align: end;
}
span{
    float: right;
}

.experiencia > li{
    margin: 20px 0 20px 0;
}
